.dialogs {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 10fr;
    padding: 20px;
}

.dialogsItems a {
    text-decoration: none;
    color: green;
}

.dialogsItems .activeLink {
    color: gold;
}

.messages {
    padding: 20px;
}

.message {
    color: black;
}