.dialogs {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 11fr;
    padding: 20px;
}

.dialogsItem {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    margin-bottom: 20px;
}


.dialogsItems a {
    text-decoration: none;
    color: green;
}

.dialogsItems img {
    width: 50px;
}

.dialogsItems .activeLink {
    color: gold;
}

.messages {
    /*display: grid;*/
    /*grid-template: [start] "message" 12fr [row2] "messge" 12fr;*/
    padding: 20px;
    /*border: 1px solid black;*/
    border-left: 1px solid gray;
}

.message {
    display: grid;
    grid-template-rows: 6fr 6fr;
    justify-items: start;

    padding-left: 20px;
    color: black;
}


.message img {
    width: 50px;
}