.nav {
    grid-area: n;
    background-color: rgba(187, 0, 0, 0.49);
    padding: 20px;
}

.item {
    margin-bottom: 15px;
}

.item a {
    text-decoration: none;
    color: white;
}

.item a.activeLink {
    color: gold;
}

.friends {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}