.nav {
    grid-area: n;
    background-color: rgba(187, 0, 0, 0.49);
    padding: 20px;
}

.item {
    margin-bottom: 15px;
}

.item a {
    text-decoration: none;
    color: white;
}

.item a:hover {
    color: rgba(255, 222, 0, 0.56);
    transition: color .2s ease;

}

.item a.activeLink {
    color: #ffde00;
    transition: color .2s ease;

}
.item a.activeLink:hover {
    color: rgba(255, 222, 0, 0.56);
    transition: color .2s ease;

}

