.item {
    color: black;
}
.userPost {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
}
.userPost img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;

}

.likePost img {

    width: 20px;
    height: 20px;
    border-radius: 0;
}
.likePost {
    display: flex;
}
.informationPost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 15px ;
}