.wrapperDialogs {
    display: flex;
    flex-direction: column;

}
.dialogs {
    display: grid;
    /*grid-template-rows: auto 1fr;*/
    grid-template-columns: 1fr 11fr;
    padding: 20px;
}

.dialogsItem {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    margin-bottom: 20px;
    /*border-right: 1px solid gray;*/

}


.dialogsItems a {
    text-decoration: none;
    color: green;
}

.dialogsItems img {
    width: 50px;
}

.dialogsItems .activeLink {
    color: gold;
}

.messages {
    border-left: 1px solid black;
    padding: 20px;
}