.wrapperDialogs {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
}

.dialogs {
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 11fr;
    padding: 20px;
}

.dialogsItem {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 20px;
}

.dialogsItems a {
    text-decoration: none;
    color: green;
}

.dialogsItems img {
    width: 50px;
}

.dialogsItems .activeLink {
    color: gold;
}

.messagesList {
    border-left: 1px solid rgba(148, 141, 138, 0.25);
    border-bottom: 1px solid rgba(148, 141, 138, 0.25);
    overflow-y: scroll;

}

.formAddMessage {
    margin: 10px auto;
    display: flex;
    justify-content: flex-end;
    width: 400px;
    align-items: center;
}

.buttonMessage {
    background: #f9f9f9;
    border: 1px solid #948d8a;
    border-radius: 5px;
    margin-left: 10px;
    height: 30px;
    cursor: pointer;
}

.buttonMessage:active, .buttonMessage:hover {
    background: white;
}

.inputMessage {
    height: 60px;
    width: 300px;
    border: 1px solid #948d8a;
    border-radius: 10px;
    text-align: justify;
}