.mypost {
    padding: 10px;
}

.mypost h3 {
    margin: 0;
}
.item {
    color: black;
}
.item img {
    width: 50px;

}
.textarea {
    padding-top: 10px;
}

.post {
    margin-top: 10px;
}
.addButton {
}