.wrapperUsers {
    height: 700px;
    overflow-y: scroll;
}

.user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f5f5f5;

    margin: 20px;
    padding: 10px;
}

.usersFollow button {
    width: 110px;
    min-width: 100px;
    height: 45px;
    background: #f6f6f6;
    border: 1px solid #e6dfdc;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;


}

.usersFollow button:active, .usersFollow button:hover {
    background: white;

}

.userProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small img {
    width: 100px;
    height: 80px;
}

.userInfo {
}

.userLocation {
    /*display: flex;*/
    /*flex-direction: column;*/
}