.wrapperUsers {
    width: 90%;
    height: 100%;
    /*overflow-y: scroll;*/
    margin: 0 auto;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    margin: 20px;
    padding: 10px;
}

.usersFollow button {
    width: 100px;
    min-width: 90px;
    height: 43px;
    background: #f6f6f6;
    border: 1px solid #e6dfdc;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.usersFollow {

}

.usersFollow .unFollow {
    background: rgba(205, 0, 19, 0.35);
    transition: background .2s ease;
}

.usersFollow .follow:active, .usersFollow .follow:hover {
    background: rgba(205, 0, 19, 0.35);
    transition: background .2s ease;
}

.usersFollow .unFollow:active, .usersFollow .unFollow:hover {
    background: rgba(50, 255, 39, 0.18);
    transition: backgroundr .2s ease;
}

.usersFollow .follow {
    background: rgba(50, 255, 39, 0.18);
    transition: background .2s ease;
}


.userProfile {
    align-content: flex-start;


}

.smallImg img {
    width: 100px;
    height: 80px;
    margin-bottom: 10px;
}

.userInfo {
}

.userLocation {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}